<div class="row">
    <div class="col-md-6">
        <label>Sort By Name</label>
        <input type="text" #search (keyup)="onKeyUpSearch(search.value)" placeholder="Search by name">
    </div>
    <div class="col-md-6">
        <label>Sort By Price</label>
        <input type="number" #price min="0" (keyup)="onKeyUpPrice(price.value)" placeholder="Search by price">
    </div>
</div>
<div class="col-md-12 mt-3">
    <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
</div>
